In [78]:
import pandas as pd
import numpy
import datetime as dt
from pathlib import Path
from Ratio import sharpe_rate

In [75]:
price_df = pd.read_csv("Data/solona.csv")
price_df.drop(columns = ['Unnamed: 0'],inplace=True)
price_df['Time'] = price_df['Time'] / 1000 -1000
price_df['Time'] = pd.to_datetime(price_df['Time'], unit='s').apply(lambda x: x.strftime('%Y-%m-%d'))
price_df.set_index('Time', inplace=True)
#price_df.columns = ['close']
#col = pd.MultiIndex.from_product([['solana'],price_df.columns])
#price_df.columns = col
price_df

            Solana Price
Time
2020-04-10      0.957606
2020-04-11      0.784711
2020-04-12      0.875994
2020-04-13      0.786712
2020-04-14      0.666673
...                  ...
2022-04-05    126.605680
2022-04-06    112.529026
2022-04-07    118.688395
2022-04-08    109.691488
2022-04-09    110.632802

[730 rows x 1 columns]

In [80]:
sharpe_rate(price_df)

Solana Price    15.29773
dtype: float64